<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
    <h1>This is Product and Service of US</h1>
    <% services.map((service)=>{ %>
        <h1>
                 <a href="/products/<%=service.id%>"><%=service.serviceTitle %> </a>
        </h1> 
        <p> <%=service.serviceDescript%> </p>
        <p>ราคา : <%=service.servicePrice%> บาท</p>
         <%})%>

</body>
</html>
