<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DetailJa</title>
</head>
<body>
    <h1>This is detail JA</h1>

        <h1>
          <a href="/products/<%=product.id%>"><%=product.serviceTitle %> </a>
        </h1> 
        <p> <%=service.serviceDescript%> </p>
        <p>ราคา : <%=service.servicePrice%> บาท</p>


</body>
</html>
